.hero-container {
    position: relative;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 40px;

    .hero-title {
        margin: 0;
    }

    .hero-subtitle {
        text-align: left;
    }

    .hero-button {
        height: 75px;
        width: 250px;
        border: none;
        border-radius: 15px;
        background-color: #FAEDCD;
        font-size: 1.5rem;
        color: #D4A373;
        outline: none;
    }
    .hero-button:hover {
        cursor: pointer;
        background-color: #FEFAE0;
        transition: background-color 0.25s;
    }
}
