.footer-container {
    width: 100%;
    left: 0;
    background-color: #CCD5AE;

    .footer-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #D4A373;
    }

    .footer-link p {
        margin-right: 10px;
    }

    .footer-link svg path {
        fill: #D4A373;
    }
}
