@import '../../variables/colors';

.detail-container {
	margin: 80px;
	color: $dark-blue;

	.content-container {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		border-radius: 15px;
		padding: 20px;
	}

	.comment-list {
		display: flex;
		flex-direction: column-reverse;
		list-style: none;
		box-shadow: $dull-blue 0px 0px 0px 0.5px;
		border-radius: 15px;
		padding-left: 0;

		.comment-header {
			display: flex;
			align-items: center;
			h4 {
				margin-right: 10px;
			}
		}

		.comment-container {
			padding: 20px;
			border-bottom: 1px solid $light-blue;
			width: 80%;
			margin: 0 auto;
		}

		.comment-content {
			text-align: left;
		}
	}
}

.empty-comment {
	padding: 20px;
}
