.detail-container {
    margin: 80px;

    .content-container {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 15px;
        padding: 20px;
    }

    .comment-list {
        display: flex;
        flex-direction: column-reverse;
    }
}


